<div class="">
    <div class="forgot">

        {{!-- {{> Component.Auth.LeftSection logo="https://harnishdesign.net/demo/html/oxyy/images/logo-teal.png"
                subtitle="We are glad to see you again!"
                title="Join the largest Designer community in the world."}} --}}

        <div class="max-w-7xl mx-auto h-screen flex flex-col justify-center items-center ">
            <div class="signin-link">
                <p>{{t "Return to"}} <a href="/login">{{t "Sign in"}}</a></p>
            </div>
            <h2 class="form-title">{{t "Forgot Password?"}}</h2>

            <form class="signup-form">
                <p class="text-[var(--grey-text)]">{{t "Enter the email address or mobile number associated with your account."}}</p>
                <label>{{t "Email Address"}}</label>
                <input type="email" placeholder="Enter Your Email Address">
                <button type="submit" class="submit-btn mt-0 w-full">{{t "Continue"}}</button>
            </form>

            <div class="divider">
                <hr>
                <span>{{t "Or with Email"}}</span>
                <hr>
            </div>

            <div class="social-buttons ">
                <a href="#" class="google-btn">
                    <img src="/images/googlelogo.png" alt="">
                    <span>{{t "Sign in with Google"}}</span>
                </a>
            </div>

        </div>
    </div>
</div>