<style>
    .error-message {
        font-size: 0.875rem;
        color: red;
        margin-top: 4px;
    }

    .toast {
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @keyframes fadein {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeout {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(20px);
        }
    }
    
</style>
</head>

<body>

<div class="relative flex items-center lg:h-full justify-center min-h-screen bg-cover bg-center py-4" style="background-image: url('/images/login-bg.svg');"
        style="background-image: url('/images/login-bg.svg');">

        <div class="absolute inset-0 bg-[#F1913D] h-full opacity-80"></div>

        <div
            class="relative z-10 flex flex-col md:flex-row items-center justify-center gap-[20px] w-[90%] overflow-hidden shadow-md">

            <!-- Left Side -->
            <div class="flex flex-col items-center md:items-start text-center md:text-left gap-6">
                <h1 class="text-white text-[30px] font-bold xl:text-[40px] lg:text-[30px] md:text-[24px] max-w-[340px]">
                    {{t "Find your ideal house"}}
                </h1>
                <img src="/images/illustation.svg" class="w-[200px] xl:w-[250px] lg:w-[200px]" alt="illustration">
            </div>

            <!-- Form Card -->
            <div class="w-full max-w-md p-6 flex flex-col bg-white rounded-[15px] shadow-lg">
                <a href="/"><img src="/images/metrajlogo.png" class="w-40 mx-auto mb-3" alt="logo"></a>

                <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">
                    {{t "Register"}}
                </h2>

                <form id="registerForm" class="h-auto">

                    <div class="mb-4">
                        <label for="role" class="block text-sm font-medium text-gray-700 mb-1">{{t "Choose Role:"}}</label>
                        <select id="role" name="role"
                            class="w-full border rounded-md px-4 py-2 bg-white border-gray-300">
                            <option value="">{{t "Select role"}}</option>
                            <option value="agent">{{t "Vasitəçi"}}</option>
                            <option value="user">{{t "İstifadəçi"}}</option>
                        </select>
                    </div>

                    <div class="input-with-icon mb-4">
                        <input type="text" name="full-name" id="full-name" placeholder="Username"
                            class="w-full border rounded-md px-4 py-2 bg-gray-50 border-gray-300" />
                    </div>

                    <div class="input-with-icon mb-4">
                        <input type="email" name="email" id="email" placeholder="Mail address"
                            class="w-full border rounded-md px-4 py-2 bg-gray-50 border-gray-300" />
                    </div>

                    <div class="input-with-icon mb-4 hidden" id="phoneField">
                        <input type="number" name="phone" id="phone" placeholder="Phone number"
                            class="w-full border rounded-md px-4 py-2 bg-gray-50 border-gray-300" />
                    </div>

                    <div class="input-with-icon mb-4">
                        <input type="password" name="password" id="password" placeholder="Password"
                            class="w-full border rounded-md px-4 py-2 bg-gray-50 border-gray-300" />
                    </div>

                    <div class="input-with-icon mb-4">
                        <input type="password" name="password_confirmation" id="password_confirmation"
                            placeholder="Password again"
                            class="w-full border rounded-md px-4 py-2 bg-gray-50 border-gray-300" />
                    </div>

                    <div class="input-with-icon mb-4 hidden" id="agencyNameField">
                        <input type="text" name="agency_name" id="agency_name" placeholder="Agentlik adı"
                            class="w-full border rounded-md px-4 py-2 bg-gray-50 border-gray-300" />
                    </div>

                    <div class="input-with-icon mb-4 hidden" id="agencyPhoneField">
                        <input type="tel" name="agency_phone" id="agency_phone" placeholder="Agentlik telefon nömrəsi"
                            class="w-full border rounded-md px-4 py-2 bg-gray-50 border-gray-300" />
                    </div>

                    <div class="flex items-center mb-4">
                        <input type="checkbox" id="terms" />
                        <label for="terms" class="text-sm text-gray-600 mx-2">
                           {{t "I accept"}} <a href="#" class="text-orange-500">{{t "Privacy and policy"}}</a>.
                        </label>
                    </div>

                    <button type="submit"
                        class="w-full bg-[var(--primary)] hover:bg-[#f29747] text-white font-semibold py-3 rounded-xl transition duration-300">
                        {{t "Register"}}
                    </button>
                    <!-- Home Button -->
                    <div class="mt-4 text-center">
                        <a href="/" class="text-sm text-orange-400 hover:underline">{{t "Ana səhifəyə qayıt"}}</a>
                    </div>
                </form>
            </div>
                <div class="z-100 flex md:flex-col flex-row items-center">
                    <h1
                        class="text-white text-center text-[30px] font-bold xl:text-[40px] xl:w-[400px] mb-4 lg:text-[30px] md:text-[20px] md:w-[200px] lg:w-[300px]">
                        {{t "Easiest way to find your safezone"}}
                    </h1>
                    <img src="/images/ok-finger.svg" alt="ok-icon" class="w-[200px] xl:w-[250px] lg:w-[200px]">
                </div>
        </div>
    </div>