<div class="">
    <div class="reset-password">
        {{> Component.Auth.LeftSection  logo="https://harnishdesign.net/demo/html/oxyy/images/logo-teal.png"
                subtitle="Reset your password,"
                title="Enter your new password." }}


        <div class="reset-password-right">
            <div class="signin-link">
                <p>{{t "Return to"}} <a href="/login">{{t "Sign in"}}</a></p>
            </div>
            <h2 class="form-title">{{t "Reset Password"}}</h2>

            <form class="signup-form">
                <p class="text-[var(--grey-text)]">{{t "Enter your new password below."}}</p>
                <label>{{t "Password"}}</label>
                <input type="password" placeholder="Enter Your New Password">
                <label>{{t "Confirm Password"}}</label>
                <input type="password" placeholder="Confirm Your New Password">
                <button type="submit" class="submit-btn mt-0">{{t "Reset Password"}}</button>
            </form>

        </div>
    </div>
</div>