<div   onclick="window.location.href='/agency/{{id}}'"  class="agencies-card cursor-pointer">
    <figure>
        <img class="image-agency" src="{{background_image}}" alt="House Image">
    </figure>
    <div class="logo">
        <img src="{{profile_image}}" alt="{{name}}">
    </div>
    <div class="text">
        <div class="header">{{name}}</div>
        <p>{{address}}</p>
        <div class="desc">{{short_description}}</div>
        <div class="info"><span>{{t "Offer count"}}:</span> 300</div>
        <div class="info"><span>Phone:</span> {{phone_2}}</div>
        <div class="info"><span>Phone:</span> {{phone_3}}</div>
        <div class="info"><span>Work Hours:</span> 12:00 - 15:00 </div>
        <div class="footer">
            <div class="icons">
                <i class="bi bi-telephone-fill"></i>
                <i class="bi bi-envelope-fill"></i>
                <i class="bi bi-globe2"></i>
            </div>
            <div class="details-button">
                <a href="/agency/{{id}}" onclick="event.stopPropagation()" class="relative inline-block px-6 py-3 rounded-xl border border-[color:var(--primary)] text-sm text-[color:var(--primary)] overflow-hidden transition-all duration-300 hover-effect-button">
                    <span class="absolute inset-0 w-0 h-full bg-[color:var(--primary)] transition-all duration-300 ease-in-out z-0 hover-effect-button-fill"></span>
                    <span class="relative z-10">Details</span>
                </a>
            </div>
        </div>
    </div>
</div>
