<header class="bg-white shadow-md fixed w-full z-100">
  <div class="mx-auto container h-[70px] px-4 py-4 !flex !flex-nowrap items-center justify-between gap-4">
    <a href="/" class="cursor-pointer flex !flex-row items-center space-x-2">
      <img class="h-8 w-auto object-contain" src="/images/metrajlogo1.png" alt="sekil" />
      <div class="leading-tight">
        <div class="text-lg font-extrabold text-[#545454] tracking-tight">Metraj.az</div>
        <div class="text-[7px] text-gray-500 underline underline-offset-4 uppercase tracking-[0.15em]">
          sənin əmlakın
        </div>
      </div>
    </a>

    {{!-- <div class="relative">
      {{! <span
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-[var(--primary)] transition duration-300 group-hover:text-orange-500">
        <i class="bi bi-translate"></i>
      </span> }}
      <select id="lang-select" onchange="changeLang(this.value)"
        class="appearance-none w-full pl-2 pr-10 py-2 rounded-md text-gray-700 focus:outline-none focus:ring-2 focus:ring-[var(--primary)] focus:border-[var(--primary)] transition duration-300 ease-in-out transform hover:scale-[1.01] hover:border-orange-500 hover:shadow-md group">
        <option value="az">Az</option>
        <option value="en">Eng</option>
        <option value="ru">Py</option>
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <i class="bi bi-chevron-down transition-transform duration-300 group-focus-within:rotate-180"></i>
      </div>
    </div> --}}

    <nav class="hidden md:flex space-x-7 items-center">
      <a href="/" class="">{{t "Home"}}</a>
      <a href="/agencies" class="text-gray-700">{{t "Agencies"}}</a>
      <a href="/blog" class="text-gray-700">{{t "Blog"}}</a>
      <a href="/about-us" class="text-gray-700">{{t "About Us"}}</a>
      <a href="/contact" class="text-gray-700">{{t "Contact"}}</a>
    </nav>

    <div class="flex items-center space-x-4">
        <a href="/favorites" class="relative mr-3 hidden sm:inline-block">
            <i class="fa-regular fa-heart text-xl text-[var(--primary)]"></i>
            <sup
              id="favorites-count"
                    class="absolute -top-1.5 -right-2 bg-[var(--primary)] text-white text-[10px] w-4 h-4 flex items-center justify-center rounded-full leading-none">
                0
            </sup>
        </a>

      

        <a href="/compares" class="relative ml-3 mr-8 hidden sm:inline-block">
            <i class="bi bi-arrow-left-right text-[var(--primary)] text-xl"></i>

            <sup id="compares-count"
                 class="absolute -top-1.5 -right-2 bg-[var(--primary)] text-white text-[10px] w-4 h-4 flex items-center justify-center rounded-full leading-none">
                0
            </sup>
        </a>


      <a href="/add-property"
        class="add-property-link  hidden sm:flex items-center px-4 py-2 bg-[var(--primary)] text-white rounded-md hover:bg-orange-300 transition">
        <i class="bi bi-plus-circle mr-2"></i>
       <span class="text-sm sm:text-md">Add property</span>
      </a>

      <div class="relative ml-15  w-full lg:max-w-[100px] max-w-[120px]">
        <span
          class="absolute inset-y-0 left-0 flex top-1.5 items-center pl-3 pointer-events-none text-[var(--primary)] transition duration-300 group-hover:text-orange-500">
          <i class="bi bi-translate"></i>
        </span>
        <select id="lang-select" onchange="changeLang(this.value)"
  class="pl-10 appearance-none w-full min-w-[100px] pr-6 sm:pl-8 sm:pr-8 py-2 border border-gray-300 rounded-md shadow-sm text-gray-700
    focus:outline-none focus:ring-2 focus:ring-[var(--primary)] focus:border-[var(--primary)]
    transition duration-300 ease-in-out transform hover:scale-[1.01] hover:border-orange-500 hover:shadow-md group">

          <option value="az">Az</option>
          <option value="en">En</option>
          <option value="ru">Py</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 top-1.5 flex items-center px-2 text-gray-400">
          <i class="bi bi-chevron-down transition-transform duration-300 group-focus-within:rotate-180"></i>
        </div>
      </div>

      <div class="relative hidden sm:inline-block text-left">
        {{#if user}}
        <button id="dropdownButton"
          class="flex items-center space-x-2 px-4 py-2 border rounded-lg text-gray-700 bg-white hover:bg-gray-50">
          <i class="fas fa-user text-gray-400"></i>
          <span>{{user.name}}</span>
          <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>

        <div id="dropdownMenu"
          class="absolute right-0 mt-2 w-60 bg-white rounded-xl shadow-lg ring-1 ring-gray-200 hidden z-50">
          <ul class="py-2 text-sm text-gray-700">
            <li><a href="/dashboard"
                class="flex rounded-md items-center px-4 py-2 hover:bg-orange-400 hover:text-white"><i
                  class="bi bi-grid mr-3"></i> {{t "Dashboards"}}</a></li>
            <li><a href="/profile"
                class="flex rounded-md items-center px-4 py-2 hover:bg-orange-400 hover:text-white"><i
                  class="bi bi-person-gear mr-3"></i>{{t
                " My profile"
                }}</a></li>
            <li><a href="#" class="flex rounded-md items-center px-4 py-2 hover:bg-orange-400 hover:text-white"><i
                  class="bi bi-bag-check mr-3"></i>
                {{t " My package"}}</a></li>
            <li><a href="/favorites"
                class="flex rounded-md items-center px-4 py-2 hover:bg-orange-400 hover:text-white"><i
                  class="bi bi-heart mr-3"></i>
                {{t "My favorites"}}
                (1)</a></li>
            <li><a href="/mysavesearches"
                class="flex rounded-md items-center px-4 py-2 hover:bg-orange-400 hover:text-white"><i
                  class="bi bi-folder2-open mr-3"></i>
                {{t "My save searches"}}
              </a></li>
            <li><a href="#" class="flex rounded-md items-center px-4 py-2 hover:bg-orange-400 hover:text-white"><i
                  class="bi bi-chat-left-text mr-3"></i>
                {{t "Reviews"}}
              </a></li>
            <li><a href="/login" class="flex rounded-md items-center px-4 py-2 hover:bg-orange-400 hover:text-white"><i
                  class="bi bi-folder-check mr-3"></i>
                {{t "My properties"}}
              </a></li>
            <li>
              <a href="/add-property"
                class="flex items-center px-4 py-2 hover:bg-orange-400 hover:text-white transition">
                <i class="bi bi-plus-circle mr-2"></i>
                {{t " Add property"}}
              </a>
            </li>

            <li><a href="/logout" class="flex items-center px-4 py-2 hover:bg-orange-400 hover:text-white transition"><i
                  class="bi bi-box-arrow-right mr-3"></i>
                {{t "Logout"}}
              </a></li>
          </ul>
        </div>
        {{else}}

          <a href="/login"
            class="flex items-center px-4 py-2 bg-white rounded-md hover:bg-orange-400 hover:text-white transition">
            <i class="bi bi-person mr-3"></i>
            {{t "Login / Register"}}</a>
        {{/if}}
      </div>
    </div>
  </div>
</header>
