{{>Component.Breadcrumb items=breadcrumbs}}

{{>Component.ScrollTop}}

<section id="add-property">


    <div class="flex gap-7 mt-8 container px-4 mx-auto">


        {{!-- {{#if user}}
        <div class="left-side">
            <aside>
                <ul class="py-2 text-base text-gray-800 space-y-1">
                    <li>
                        <a href="#"
                            class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-grid mr-3 text-gray-400 group-hover:text-white transition"></i>
                            Dashboards
                        </a>
                    </li>
                    <li>
                        <a href="/profile"
                            class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-person-gear mr-3 text-gray-400 group-hover:text-white transition"></i>
                            My profile
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-bag-check mr-3 text-gray-400 group-hover:text-white transition"></i> My
                            package
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-heart mr-3 text-gray-400 group-hover:text-white transition"></i> My
                            favorites (1)
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-folder2-open mr-3 text-gray-400 group-hover:text-white transition"></i>
                            My save searches
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-chat-left-text mr-3 text-gray-400 group-hover:text-white transition"></i>
                            Reviews
                        </a>
                    </li>
                    <li>
                        <a href="/login"
                            class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-folder-check mr-3 text-gray-400 group-hover:text-white transition"></i>
                            My properties
                        </a>
                    </li>
                    <li>
                        <a href="/add-property"
                            class="flex items-center px-5 py-4 bg-white rounded-lg hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-file-earmark-plus mr-3 text-gray-400 group-hover:text-white transition"></i>
                            Add property
                        </a>
                    </li>
                    <li>
                        <a href="/login"
                            class="flex items-center px-5 py-4 bg-white rounded-lg hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-person mr-3 text-gray-400 group-hover:text-white transition"></i> Login
                            / Register
                        </a>
                    </li>
                    <li>
                        <a href="/logout"
                            class="flex items-center px-5 py-4 bg-white rounded-lg hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-box-arrow-right mr-3 text-gray-400 group-hover:text-white transition"></i>
                            Logout
                        </a>
                    </li>
                </ul>


            </aside>
        </div>
        {{else}}

        {{/if}} --}}

        <div class="w-full mx-auto px-4">
            <main>

                <div class="bg-white mt-2 p-5 mx-auto rounded-lg shadow-md">
                    <h2 class="text-2xl font-bold mb-6">{{t "Additional Information"}}</h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

                        <!-- Property Type -->
                        <div>
                            <label class="block font-medium mb-1">{{t "Building Type"}}:<span
                                    class="text-red-500">*</span></label>
                            <select id="building-type"
                                class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-orange-300">
                                <option disabled selected>{{t "Choose"}}</option>
                                <option disabled selected>{{t "Choose"}}</option>


                            </select>
                        </div>
                        <!-- Add Type -->
                        {{!-- <div>
                            <label class="block font-medium mb-1">{{t "Add type"}}:<span
                                    class="text-red-500">*</span></label>
                            <select id="add-type"
                                class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-orange-500">
                                <option disabled selected>{{t "Choose"}}</option>
                                <option value="sale">For Sale</option>
                                <option value="rent">For Rent</option>
                            </select>
                        </div> --}}
                        <select id="add-type" name="type" class="sr-only" {{!-- ekranda görünmür, ancaq forma dəyər
                            ötürür --}}>
                            <option disabled selected>{{t "Choose"}}</option>
                            <option value="sale">For Sale</option>
                            <option value="rent">For Rent</option>
                        </select>

                        <div id="customTypeContainer" class="relative w-full">
                            <label class="block font-medium mb-1">
                                {{t "Add type"}}:<span class="text-red-500">*</span>
                            </label>

                            <button id="customTypeButton" type="button"
                                class="w-full border border-gray-300 rounded-lg p-2 flex justify-between items-center focus:outline-none focus:ring-2 focus:ring-orange-300">
                                <span id="customTypeText">{{t "Choose"}}</span>
                                <svg id="typeIcon" class="w-4 h-4 ml-2 transition-transform transform"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7" />
                                </svg>
                            </button>

                            <ul id="customTypeOptions"
                                class="absolute z-10 bg-white border border-gray-300 rounded-lg mt-1 w-full hidden">
                                <li data-value="sale" class="px-4 py-2 hover:bg-orange-100 cursor-pointer">For Sale</li>
                                <li data-value="rent" class="px-4 py-2 hover:bg-orange-100 cursor-pointer">For Rent</li>
                            </ul>

                            <input type="hidden" id="selectedTypeInput" name="type">
                        </div>




                        <!-- Property Label -->
                        <div>
                            <label class="block font-medium mb-1">{{t "Repair"}}:<span
                                    class="text-red-500">*</span></label>
                            <select id="repair-type"
                                class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-orange-500">
                                <option selected disabled>{{t "Choose"}}</option>
                                <option value="repaired">{{t "Repaired"}}</option>
                                <option value="unrepaired">{{t "Unrepaired"}}</option>
                                <!-- options -->
                            </select>
                        </div>

                        <!-- Area -->
                        <div id="area">
                            <label class="block font-medium mb-1">{{t "Size"}} (m²):<span
                                    class="text-red-500">*</span></label>
                            <input type="number"
                                class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-orange-500" />
                        </div>
                        <!-- Field Area -->
                        <div id="field-area" class="d-none">
                            <label class="block font-medium mb-1">{{t "Field area"}} (m²):<span
                                    class="text-red-500">*</span></label>
                            <input type="number"
                                class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-orange-500" />
                        </div>

                        <!-- Price -->
                        <div>
                            <label class="block font-medium mb-1">{{t "Price"}}:<span
                                    class="text-red-500">*</span></label>
                            <input id="price" type="number" value="0"
                                class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-orange-500" />

                            <div class="d-none">
                                <select id="property-period"
                                    class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-orange-500">
                                    <option value="daily"> {{t "Daily"}}</option>
                                    <option value="monthly">{{t "Monthly"}}</option>
                                </select>
                            </div>
                        </div>

                        <!-- Rooms -->
                        <div>
                            <label class="block font-medium mb-1">{{t "Room Count"}}:<span
                                    class="text-red-500">*</span></label>
                            <select id="room-count"
                                class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-orange-500">
                                <option disabled selected>{{t "Choose"}}</option>
                                {{#forLoop 20}}
                                <option value="{{this}}">{{this}} {{t "room"}}</option>
                                {{/forLoop}}


                            </select>
                        </div>

                        <!-- Bedrooms -->
                        <div>
                            <label class="block font-medium mb-1">{{t "Floor"}}:<span
                                    class="text-red-500">*</span></label>
                            <select id="located-floor"
                                class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-orange-500">
                                <option disabled selected>{{t "Choose"}}</option>
                                {{#forLoop 100}}
                                <option value="{{this}}">{{this}}-ci mərtəbə</option>
                                {{/forLoop}}


                            </select>
                        </div>

                        <!-- Bathrooms -->
                        <div>
                            <label class="block font-medium mb-1">Mərtəbə sayı:<span
                                    class="text-red-500">*</span></label>
                            <select id="floor-count"
                                class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-orange-500">
                                <option disabled selected>Choose</option>

                                {{#forLoop 100}}
                                <option value="{{this}}">{{this}} mərtəbəli</option>

                                {{/forLoop}}
                            </select>
                        </div>

                        <!-- Garages -->
                        <div>
                            <label class="block font-medium mb-1">{{t "Credit"}}:<span
                                    class="text-red-500">*</span></label>
                            <input id="is-credit" type="checkbox"
                                class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-white" />
                        </div>

                    </div>
                    <div class="bg-white rounded-xl w-full mx-auto mt-6">
                        <div class="mb-4">
                            <label for="description" class="block font-semibold mb-1">{{t "Description"}}:</label>
                            <textarea name="description" id="description" placeholder="Your Description" rows="4"
                                class="w-full border border-gray-300 rounded-md px-4 py-2"></textarea>
                        </div>
                    </div>
                    <div class="bg-white rounded-xl w-full mx-auto mt-6">
                        <div class="mb-4">
                            <label for="note-to-admin" class="block font-semibold mb-1">{{t "Note to admin"}}:</label>
                            <textarea name="note-to-admin" id="note-to-admin" placeholder="{{t " Note to admin"}}"
                                rows="4" class="w-full border border-gray-300 rounded-md px-4 py-2"></textarea>
                        </div>
                    </div>
                </div>

                <section id="upload-image">
                    <div class="px-6  mt-2 py-10 bg-white rounded-xl shadow-md  w-full    mx-auto">
                        <h2 class="text-3xl font-bold mb-4">{{t "Upload Media"}}</h2>

                        <div id="dropzone"
                            class="border-2 border-dashed border-gray-300 rounded-lg py-14 flex flex-col items-center justify-center text-center min-h-[340px] transition">
                            <label
                                class="bg-[var(--primary)] text-white px-6 py-4 rounded-xl font-semibold hover:bg-orange-500 transition-all cursor-pointer mb-2">
                                <i class="bi bi-paperclip"></i> {{t "Select photos"}}
                                <input id="fileInput" type="file" multiple accept="image/*" class="hidden">
                            </label>
                            <p class="text-sm text-gray-500">{{t "or drag photos here"}}<br>({{t "Up to 10 photos"}})
                            </p>
                        </div>


                        <div id="gallery"
                            class="mt-6 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4"></div>
                        <div class="my-4">
                            <label for="video" class="block font-semibold mb-1">{{t "Video"}}:</label>
                            <input id="video" type="file" placeholder="{{t " Video"}}"
                                class="w-full border border-gray-300 rounded-md px-4 py-2">
                        </div>

                        <div class="my-4">
                            <label for="document" class="block font-semibold mb-1">{{t "Document"}}:</label>
                            <input id="document" type="file" placeholder="{{t " Document"}}"
                                class="w-full border border-gray-300 rounded-md px-4 py-2">
                        </div>
                    </div>


                </section>


                <div class="p-8 w-full mx-auto rounded-lg shadow-md mt-3 font-sans bg-white text-gray-800">
                    <h2 class="text-xl font-semibold mb-4">{{t "Features"}} <span style="color: red">*</span></h2>

                    <div id="features-container" class="relative overflow-hidden max-h-48">
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4" id="features"></div>
                        <div
                            class="absolute bottom-0 left-0 right-0 h-24 bg-gradient-to-t from-white to-transparent pointer-events-none fade-overlay">
                        </div>
                    </div>

                    <div class="flex justify-center">
                        <button id="toggle-features"
                            class="mt-6 text-[var(--primary)] border border-[var(--primary)] px-3 rounded-md py-1 text-center hover:text-orange-500 font-semibold focus:outline-none">
                            Daha çox göstər <i class="bi bi-chevron-down"></i>
                        </button>
                    </div>

                </div>



                <div class="p-8 w-full mx-auto rounded-lg shadow-md mt-3 font-sans bg-white text-gray-800">
                    <h2 class="text-xl font-semibold mb-4">{{t "Nearby objects"}} <span style="color: red">*</span></h2>

                    <div id="nearby-objects-container" class="relative overflow-hidden max-h-48">
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4" id="nearby-objects"></div>
                        <div
                            class="absolute bottom-0 left-0 right-0 h-24 bg-gradient-to-t from-white to-transparent pointer-events-none fade-overlay">
                        </div>
                    </div>

                    <div class="flex justify-center">
                        <button id="toggle-nearby-objects"
                            class="mt-6 text-[var(--primary)] border border-[var(--primary)] px-3 rounded-md py-1 text-center hover:text-orange-500 font-semibold focus:outline-none">
                            Daha çox göstər <i class="bi bi-chevron-down"></i>
                        </button>
                    </div>

                   
                </div>

                <section id="property-information">
                    <div class="p-6 bg-white rounded-xl shadow-md w-full mx-auto mt-6">
                        <h2 class="text-2xl font-bold mb-4">{{t "Information"}}</h2>

                        <form method="POST" action="">
                            <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-4">
                                <div>
                                    <label for="city" class="block font-semibold mb-1">{{t "City"}}:*</label>
                                    <select id="city" class="w-full border border-gray-300 rounded-md px-4 py-2">
                                    </select>
                                </div>
                                <div class="d-none">
                                    <label for="district" class="block font-semibold mb-1">{{t "Ditrict"}}:*</label>
                                    <select id="district" class="w-full border border-gray-300 rounded-md px-4 py-2">
                                    </select>
                                </div>
                                <div class="d-none">
                                    <label for="town" class="block font-semibold mb-1">{{t "Towm"}}:*</label>
                                    <select id="town" class="w-full border border-gray-300 rounded-md px-4 py-2">
                                    </select>
                                </div>
                                <div>
                                    <label for="subway" class="block font-semibold mb-1">{{t "Metro"}}:*</label>
                                    <select id="subway" class="w-full border border-gray-300 rounded-md px-4 py-2">
                                    </select>
                                </div>
                            </div>
                            <div class="mb-4 gap-2 flex flex-col lg:flex-row justify-center items-center">
                                <div class="flex flex-col gap-4 w-full lg:w-[80%]">
                                    <label for="address" class="block font-semibold mb-1">{{t "Full Address"}}:*</label>
                                    <input type="text" name="address" id="address" placeholder="{{t " Enter property
                                        full address"}}" class="w-full border border-gray-300 rounded-md px-4 py-2">
                                </div>

                                <button type="button" id="searchAddress"
                                    class="w-full lg:w-[20%] mt-4 lg:mt-[44px] rounded-lg text-sm bg-[var(--primary)] text-white px-3 py-3 hover:bg-orange-600">
                                    {{t "Search on Map"}}
                                </button>
                            </div>


                            <div class="mb-4">
                                <label class="block font-semibold mb-1">{{t "Location on Map"}}:</label>
                                <div id="map" style="height: 400px; width: 100%;  border-radius: 0.375rem;"></div>
                                <input type="hidden" name="latitude" id="latitude">
                                <input type="hidden" name="longitude" id="longitude">
                            </div>

                            <div class="mb-4">
                                <label for="google_map_location" class="block font-semibold mb-1">{{t "Google Maps
                                    Link"}}
                                    ({{t "optional"}}):</label>
                                <input type="text" name="google_map_location" id="google_map_location"
                                    placeholder="https://maps.google.com/..."
                                    class="w-full border border-gray-300 rounded-md px-4 py-2">
                            </div>
                        </form>

                    </div>
                </section>

                {{>Component.AgentInfo}}
                <div class="flex  mt-6 items-center">
                    <input id="terms" type="checkbox"
                        class="mt-1 mr-2 w-4 h-4 text-[var(--primary)] border-gray-300 rounded focus:ring-0">
                    <label for="terms" class="select-none">
                        <a href="/istifadeci-razilasi" target="_blank"
                            class="text-[var(--primary)] underline hover:text-orange-500 transition">
                            İstifadəçi razılaşmasını
                        </a> oxudum və qəbul edirəm
                        <span class="text-red-500">*</span>
                    </label>
                </div>

                <div class="flex justify-center items-center space-x-4 mt-6">
                    <button id="add-property-btn"
                        class=" sm:w-auto bg-[color:var(--primary)] text-white px-6 py-4 rounded-xl flex items-center justify-center button-hover all-btn hover:bg-orange-500 focus:outline-none">
                        {{t "Add Property"}}
                    </button>
                </div>


            </main>
        </div>

    </div>
</section>