<x-go-top/>
<x-settings-icon/>
<section id="add-property">
    <div class="side">
        <div class="left-side">
            <aside>
                <ul class="py-2 text-base text-gray-800 space-y-1">
                    <li>
                        <a href="#"
                           class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-grid mr-3 text-gray-400 group-hover:text-white transition"></i>
                            Dashboards
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-person-gear mr-3 text-gray-400 group-hover:text-white transition"></i>
                            My profile
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-bag-check mr-3 text-gray-400 group-hover:text-white transition"></i> My
                            package
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-heart mr-3 text-gray-400 group-hover:text-white transition"></i> My
                            favorites (1)
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-folder2-open mr-3 text-gray-400 group-hover:text-white transition"></i>
                            My save searches
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-chat-left-text mr-3 text-gray-400 group-hover:text-white transition"></i>
                            Reviews
                        </a>
                    </li>
                    <li>
                        <a href="/login"
                           class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-folder-check mr-3 text-gray-400 group-hover:text-white transition"></i>
                            My properties
                        </a>
                    </li>
                    <li>
                        <a href="/add-property"
                           class="flex items-center px-5 py-4 bg-white rounded-lg hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-file-earmark-plus mr-3 text-gray-400 group-hover:text-white transition"></i>
                            Add property
                        </a>
                    </li>
                    <li>
                        <a href="/login"
                           class="flex items-center px-5 py-4 bg-white rounded-lg hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-person mr-3 text-gray-400 group-hover:text-white transition"></i> Login
                            / Register
                        </a>
                    </li>
                    <li>
                        <a href="/logout"
                           class="flex items-center px-5 py-4 bg-white rounded-lg hover:bg-orange-400 hover:text-white group transition">
                            <i class="bi bi-box-arrow-right mr-3 text-gray-400 group-hover:text-white transition"></i>
                            Logout
                        </a>
                    </li>
                </ul>


            </aside>
        </div>

        <div class="right-side">
            <main>

                <div class="bg-white mt-2 p-5 max-w-5xl mx-auto rounded-lg shadow-md">
                    <h2 class="text-2xl font-bold mb-6">Additional Information</h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

                        <!-- Property Type -->
                        <div>
                            <label class="block font-medium mb-1">Property Type:<span
                                    class="text-red-500">*</span></label>
                            <select id="property-type"
                                    class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option disabled selected>Choose</option>
                            </select>
                        </div>
                        <!-- Property Status -->
                        <div>
                            <label class="block font-medium mb-1">Property Status:<span
                                    class="text-red-500">*</span></label>
                            <select id="property-status"
                                    class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option disabled selected>Choose</option>
                                <option value="sale">For Sale</option>
                                <option value="rent">For Rent</option>
                            </select>
                        </div>
                        <!-- Property Label -->
                        <div>
                            <label class="block font-medium mb-1">Təmir:<span class="text-red-500">*</span></label>
                            <select
                                    class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option selected disabled>Choose</option>
                                <option value="repaired">Təmirli</option>
                                <option value="unrepaired">Təmirsiz</option>
                                <!-- options -->
                            </select>
                        </div>

                        <!-- Size -->
                        <div id="size">
                            <label class="block font-medium mb-1">Size (m²):<span
                                    class="text-red-500">*</span></label>
                            <input type="text"
                                   class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"/>
                        </div>
                        <!-- Land Area -->
                        <div id="land-area" class="d-none">
                            <label class="block font-medium mb-1">Land Area (m²):<span
                                    class="text-red-500">*</span></label>
                            <input type="text"
                                   class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"/>
                        </div>

                        <!-- Price -->
                        <div>
                            <label class="block font-medium mb-1">Price:<span
                                    class="text-red-500">*</span></label>
                            <input type="number" value="0"
                                   class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"/>

                            <div class="d-none">
                                <select id="property-period"
                                        class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                    <option value="daily"> Günlük</option>
                                    <option value="monthly">Aylıq</option>
                                </select>
                            </div>
                        </div>

                        <!-- Rooms -->
                        <div>
                            <label class="block font-medium mb-1">Room Count:<span
                                    class="text-red-500">*</span></label>
                            <select id="room-count"
                                    class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option disabled selected>Choose</option>
                                {{#forLoop 20}}
                                    <option value="{{this}}">{{this}} otaqlı</option>
                                {{/forLoop}}


                            </select>
                        </div>

                        <!-- Bedrooms -->
                        <div>
                            <label class="block font-medium mb-1">Mərtəbə:<span
                                    class="text-red-500">*</span></label>
                            <select id="room-count"
                                    class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option disabled selected>Choose</option>
                                {{#forLoop 100}}
                                    <option value="{{this}}">{{this}}-ci mərtəbə</option>
                                {{/forLoop}}


                            </select>
                        </div>

                        <!-- Bathrooms -->
                        <div>
                            <label class="block font-medium mb-1">Mərtəbə sayı:<span
                                    class="text-red-500">*</span></label>
                            <select id="room-count"
                                    class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option disabled selected>Choose</option>

                                {{#forLoop 100}}
                                    <option value="{{this}}">{{this}} mərtəbəli</option>

                                {{/forLoop}}
                            </select>
                        </div>

                        <!-- Garages -->
                        <div>
                            <label class="block font-medium mb-1">Kredit:<span
                                    class="text-red-500">*</span></label>
                            <input type="checkbox"
                                   class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-blue-500"/>
                        </div>

                    </div>
                    <div class="bg-white rounded-xl max-w-5xl mx-auto mt-6">
                        <div class="mb-4">
                            <label for="description" class="block font-semibold mb-1">Description:</label>
                            <textarea name="description" id="description" placeholder="Your Description"
                                      rows="4"
                                      class="w-full border border-gray-300 rounded-md px-4 py-2"></textarea>
                        </div>


                    </div>
                </div>

                <section id="upload-image">
                    <div class="px-6  mt-2 py-10 bg-white rounded-xl shadow-md max-w-5xl mx-auto">
                        <h2 class="text-3xl font-bold mb-4">Upload Media</h2>

                        <div id="dropzone"
                             class="border-2 border-dashed border-gray-300 rounded-lg py-14 flex flex-col items-center justify-center text-center min-h-[340px] transition">
                            <label
                                    class="bg-[var(--primary)] text-white px-6 py-4 rounded-xl font-semibold hover:bg-orange-500 transition-all cursor-pointer mb-2">
                                <i class="bi bi-paperclip"></i> Select photos
                                <input id="fileInput" type="file" multiple accept="image/*" class="hidden">
                            </label>
                            <p class="text-sm text-gray-500">or drag photos here<br>(Up to 10 photos)</p>
                        </div>


                        <div id="gallery"
                             class="mt-6 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4"></div>
                        <div class="my-4">
                            <label for="video" class="block font-semibold mb-1">Video:</label>
                            <input type="file" placeholder="Video"
                                   class="w-full border border-gray-300 rounded-md px-4 py-2">
                        </div>

                        <div class="my-4">
                            <label for="document" class="block font-semibold mb-1">Document:</label>
                            <input type="file" placeholder="Document"
                                   class="w-full border border-gray-300 rounded-md px-4 py-2">
                        </div>
                    </div>


                </section>

                <div class="p-8 max-w-5xl mx-auto rounded-lg shadow-md mt-3 font-sans bg-white text-gray-800">
                    <h2 class="text-xl font-semibold mb-4">{{t "Features"}} <span style="color: red">*</span></h2>

                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4" id="features"></div>
                </div>

                <div class="p-8 max-w-5xl mx-auto rounded-lg shadow-md mt-3 font-sans bg-white text-gray-800">
                    <h2 class="text-xl font-semibold mb-4">{{t "Nearby objects"}} <span style="color: red">*</span></h2>

                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4" id="nearby-objects"></div>
                </div>

                <section id="property-information">
                    <div class="p-6 bg-white rounded-xl shadow-md max-w-5xl mx-auto mt-6">
                        <h2 class="text-2xl font-bold mb-4">Information</h2>

                        <form method="POST" action="">
                            <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-4">
                                <div>
                                    <label for="city" class="block font-semibold mb-1">Şəhər:*</label>
                                    <select id="city"
                                            class="w-full border border-gray-300 rounded-md px-4 py-2"> </select>
                                </div>
                                <div class="d-none">
                                    <label for="district" class="block font-semibold mb-1">Rayon:*</label>
                                    <select id="district"
                                            class="w-full border border-gray-300 rounded-md px-4 py-2"> </select>
                                </div>
                                <div class="d-none">
                                    <label for="town" class="block font-semibold mb-1">Qəsəbə:*</label>
                                    <select id="town"
                                            class="w-full border border-gray-300 rounded-md px-4 py-2"> </select>
                                </div>
                                <div>
                                    <label for="subway" class="block font-semibold mb-1">Metro:*</label>
                                    <select id="subway"
                                            class="w-full border border-gray-300 rounded-md px-4 py-2"> </select>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for="address" class="block font-semibold mb-1">Full Adress:*</label>
                                <input type="text" name="address" id="address"
                                       placeholder="Enter property full address"
                                       class="w-full border border-gray-300 rounded-md px-4 py-2">
                                <button type="button" id="searchAddress"
                                        class="mt-2 rounded-lg mt-2 bg-[var(--primary)] text-white px-4 py-1 rounded-hover:bg-blue-600">
                                    Search on Map
                                </button>
                            </div>


                            <div class="mb-4">
                                <label class="block font-semibold mb-1">Location on Map:</label>
                                <div id="map" style="height: 400px; width: 100%;  border-radius: 0.375rem;"></div>
                                <input type="hidden" name="latitude" id="latitude">
                                <input type="hidden" name="longitude" id="longitude">
                            </div>

                            <div class="mb-4">
                                <label for="google_map_location" class="block font-semibold mb-1">Google Maps Link
                                    (optional):</label>
                                <input type="text" name="google_map_location" id="google_map_location"
                                       placeholder="https://maps.google.com/..."
                                       class="w-full border border-gray-300 rounded-md px-4 py-2">
                            </div>
                        </form>

                    </div>
                </section>

                {{>Component.AgentInfo}}

                <div class="flex justify-center items-center space-x-4 mt-6">
                    <button
                            class=" sm:w-auto bg-[color:var(--primary)] text-white px-6 py-3 rounded-xl flex items-center justify-center button-hover all-btn hover:bg-orange-500 focus:outline-none">
                        Add Property
                    </button>
                </div>


            </main>
        </div>

    </div>
</section>