{{>Component.Breadcrumb items=breadcrumbs}}

{{>Component.ScrollTop}}

<section id="listing-detail-gallery">
    <div class="container mx-auto px-4">
        <div class="gallery-grid">

            {{#each property.media.images}}
            <figure onclick="openModal({{@index}})">
                <img src="{{this.path}}">
            </figure>
            {{/each}}

        </div>
    </div>
    <div id="modal" class="modal">
        <div class="modal-header">
            <span id="counter">1/4</span>
            <div class="modal-actions">
                <button onclick="startSlideshow()"><i class="bi bi-play-fill"></i></button>
                <button onclick="toggleFullscreen()"><i class="bi bi-fullscreen"></i></button>
                <button onclick="toggleThumbnails()"><i class="bi bi-images"></i></button>
                <button onclick="shareImage()"><i class="bi bi-share"></i></button>
                <button onclick="closeModal()"><i class="bi bi-x-lg"></i></button>
            </div>
        </div>
        <div class="modal-navigation">
            <button onclick="prevImage()"><i class="bi bi-arrow-left"></i></button>
            <img id="modal-image" src="" alt="Modal Image">
            <button onclick="nextImage()"><i class="bi bi-arrow-right"></i></button>
        </div>
        <div class="thumbnails" id="thumbnails">
            {{#each property.media.images}}
            <img src="{{this.path}}" onclick="openModal({{@index}})">
            {{/each}}
        </div>
    </div>
    <div id="imgModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content modal-content-custom">
                <div class="modal-top-left" id="imageCount">1 / 4</div>
                <div class="modal-top-right">
                    <i class="bi bi-play-btn" title="Start Slideshow"></i>
                    <i class="bi bi-fullscreen" title="Fullscreen"></i>
                    <i class="bi bi-grid" title="Thumbnails"></i>
                    <i class="bi bi-share" title="Share"></i>
                    <i class="bi bi-x-lg" data-bs-dismiss="modal" title="Close"></i>
                </div>
                <span class="modal-control left" onclick="changeImage(-1)"><i class="bi bi-arrow-left"></i></span>
                <img id="modalImage" class="modal-img">
                <span class="modal-control right" onclick="changeImage(1)"><i class="bi bi-arrow-right"></i></span>
            </div>
        </div>
    </div>
</section>
<section id="side">
    <div class="container mx-auto px-4">
        <div class="lg:flex-row md:flex-row flex-col side">
            <div class="side-left">
                <div class="info-box">
                    <div class="info-box-title mb-4">
                        <h2>{{ property.title }}</h2>
                        {{#each property.prices}}
                        <h2>₼{{ this.price }} <span>/month</span></h2>
                        {{/each}}
                    </div>

                    <div class="info-box-desc">
                        <div class="left">
                            <div class="adress">
                                <i class="bi bi-geo-alt me-2"></i>
                                <span>{{ property.address }}</span>
                            </div>



                        </div>
                        <div class="right">
                            <i class="bi bi-heart"></i>
                            <i class="bi bi-arrow-left-right"></i>
                            <i class="bi bi-printer"></i>
                            <i class="bi bi-share"></i>

                        </div>

                    </div>

                </div>
                {{>Component.Property.Specs item=property}}

                {{#if property.media.video}}
                {{#each property.media.video}}

                <section id="video" class="video-section">
                    <div class="video-container">

                        <video id="video-frame" controls>
                            <source src="{{this.path}}" type="video/mp4">
                        </video>
                        <div class="play-button" id="toggle-btn">
                            <i class="bi bi-play-fill" id="play-icon"></i>
                            <i class="bi bi-pause-fill d-none" id="pause-icon"></i>
                        </div>


                    </div>
                </section>
                {{/each}}
                {{/if}}

                {{>Component.Property.Features features=property.features column=3}}
                {{>Component.Property.NearbyObjects objects = property.nearby column=3}}
                {{>Component.Property.Map location=property.location zoom=15}}

                {{#if property.media.document}}
                <div class="attachment-box">
                    <h2>File Attachments</h2>
                    <div class="file-list">
                        {{#each property.media.document}}
                        <div class="file-item">
                            <div class="file-icon">
                                <i class="fa-regular fa-file fa-2x"></i>
                                <span>PDF</span>
                            </div>
                            <div class="file-name">Document {{@index}}</div>
                            <div class="download-icon">
                                <a href="{{ this.path}}" download>
                                    <i class="bi bi-download"></i>
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}


                {{>Component.Property.VirtualTour tour=property.virtual_tour}}
                {{>Component.LoanCalculator}}


            </div>
            <div class="side-right">
                <div class="sticky">
                    <div class="contact-card">
                        <h3>Contact Sellers</h3>
                        <div class="flex avatar-info">
                            <img src="https://themesflat.co/html/proty/images/avatar/seller.jpg" alt="Shara Conner"
                                class="avatar">
                            <div class="avatar-info-text">
                                <h4>Shara Conner</h4>
                                <div id="phone-numbers-container">

                                </div>
                                {{#if setting.email}}
                                <p><a href="mailto:{{setting.email}}" class="email">
                                        <i class="bi bi-envelope"></i> {{setting.email}}</a></p>
                                {{/if}}
                            </div>
                        </div>

                        <form id="contact-form">
                            <button class="send-message-btn all-btn button-hover" type="button" id="call-button">Zəng
                                et</button>
                        </form>
                    </div>

                    <div id="phone-modal" class="modal">
                        <div class="modal-content">
                            <span class="close-button">&times;</span>
                            <h2>Zəng etmək üçün nömrəni seçin</h2>
                            <div id="phone-options-container">
                            </div>
                        </div>
                    </div>

                    {{>Component.ConnectAgent}}

                </div>


            </div>
        </div>


    </div>
</section>




{{js 'phone-modal.js'}}
{{js 'videoplay.js'}}