<div class="w-full">
    <div class="flex mx-auto max-w-screen-3xl px-4 lg:px-6 xl:px-8 gap-9">

        {{#if setting.ads}}
        <aside class="hidden xl:block w-[160px] mt-8">
            <div class="sticky top-24">
                <img src="https://placehold.co/200x1300" alt="Sol Reklam" class="rounded-lg shadow w-full" />
            </div>
        </aside>
        {{/if}}

        <main class="w-full ">
            {{>Component.Breadcrumb items=breadcrumbs}}

            {{>Component.ScrollTop}}


            <section class="property-listing py-4" x-data="filterModal()">
                <div class="container mx-auto px-4">
                    <section class="bg-white py-6 max-w-full mx-auto relative z-10 " x-data="{
                        categoryOpen: false,
                        cityOpen: false,
                        addressOpen: false,
                        selectedCategory: 'All Categories',
                        selectedCity: 'All Cities'
                    }">
                        <div class=" flex justify-between items-center mb-3">
                            <div class="flex gap-2 border border-gray-200 rounded-lg">
                                <button @click="form.addType = 'all'"
                                    :class="form.addType === 'all' ? 'bg-[color:var(--primary)] text-white' : 'bg-white text-gray-700 hover:bg-gray-100'"
                                    class="px-4 py-2 rounded-lg font-semibold transition" data-add-type="all">
                                    {{ t "All" }}
                                </button>

                                <button @click="form.addType = 'sale'"
                                    :class="form.addType === 'sale' ? 'bg-[color:var(--primary)] text-white' : 'bg-white text-gray-700 hover:bg-gray-100'"
                                    class="px-4 py-2 rounded-lg font-semibold transition" data-add-type="sale">
                                    {{ t "Sale" }}
                                </button>

                                <button @click="form.addType = 'rent'"
                                    :class="form.addType === 'rent' ? 'bg-[color:var(--primary)] text-white' : 'bg-white text-gray-700 hover:bg-gray-100'"
                                    class="px-4 py-2 rounded-lg font-semibold transition" data-add-type="rent">
                                    {{ t "Rent" }}
                                </button>
                            </div>

                            <button class="px-4 py-1 border border-gray-300 rounded-lg hover:bg-gray-100">
                                <i class="bi bi-arrow-clockwise text-lg text-gray-600"></i>
                            </button>
                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

                            <div class="p-3 bg-gray-50 rounded-lg border border-gray-200 relative">
                                <div class="flex items-center gap-2">
                                    <i class="bi bi-geo-alt text-orange-500 text-xl"></i>
                                    <input type="text" placeholder="Enter address..."
                                        class="w-full rounded-lg focus:outline-none py-1" id="addressInput" />
                                </div>
                                <div id="addressSuggestions"
                                    class="absolute left-0 mt-2 w-full bg-white shadow-lg border border-gray-200 rounded-lg z-20 hidden">
                                    <ul id="suggestionsList" class="divide-y divide-gray-100 max-h-60 overflow-y-auto">
                                    </ul>
                                </div>
                            </div>


                            <div class="relative p-3 bg-gray-50 rounded-lg border border-gray-200 cursor-pointer"
                                @click="categoryOpen = !categoryOpen; addressOpen = false; cityOpen = false">
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center gap-2">
                                        <i class="bi bi-layers text-orange-500 text-xl"></i>
                                        {{!-- <span class="text-gray-700">All Categories</span> --}}
                                        <span class="text-gray-700" x-text="selectedCategory"></span>

                                    </div>
                                    <i class="bi bi-chevron-down text-orange-500"></i>
                                </div>
                                <template x-if="categoryOpen">
                                    <div
                                        class="absolute left-0 mt-2 w-full bg-white shadow-lg border border-gray-200 rounded-lg z-10">
                                        <ul class="divide-y divide-gray-100">
                                            <li class="p-2 hover:bg-gray-100 cursor-pointer"
                                                @click.stop="selectedCategory = 'Apartment'; categoryOpen = false">
                                                Apartment
                                            </li>
                                            <li class="p-2 hover:bg-gray-100 cursor-pointer"
                                                @click.stop="selectedCategory = 'Villa'; categoryOpen = false">
                                                Villa
                                            </li>
                                            <li class="p-2 hover:bg-gray-100 cursor-pointer"
                                                @click.stop="selectedCategory = 'Office'; categoryOpen = false">
                                                Office
                                            </li>

                                        </ul>
                                    </div>
                                </template>
                            </div>

                            <div class="relative p-3 bg-gray-50 rounded-lg border border-gray-200 cursor-pointer"
                                @click="cityOpen = !cityOpen; addressOpen = false; categoryOpen = false">
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center gap-2">
                                        <i class="bi bi-buildings text-orange-500 text-xl"></i>
                                        <span class="text-gray-700" x-text="selectedCity"></span>
                                    </div>
                                    <i class="bi bi-chevron-down text-orange-500"></i>
                                </div>
                                <template x-if="cityOpen">
                                    <div
                                        class="absolute left-0 mt-2 w-full bg-white shadow-lg border border-gray-200 rounded-lg z-10">
                                        <ul class="divide-y divide-gray-100">
                                            {{#each cities}}
                                            <li class="p-2 hover:bg-gray-100 cursor-pointer"
                                                @click.stop="selectedCity = '{{this.name}}'; cityOpen = false">
                                                {{this.name}}
                                            </li>

                                            {{/each}}

                                        </ul>
                                    </div>
                                </template>
                            </div>

                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">

                            <div class="p-3 bg-gray-50 rounded-lg border border-gray-200">
                                <label class="block text-gray-700 font-semibold mb-2 flex items-center gap-2">
                                    <i class="bi bi-currency-dollar text-orange-500 text-xl"></i>
                                    Price (AZN)
                                </label>
                                <div class="flex gap-2">
                                    <input type="number" placeholder="Min qiymət"
                                        class="w-1/2 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none" />
                                    <input type="number" placeholder="Max qiymət"
                                        class="w-1/2 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none" />
                                </div>
                            </div>

                            <div class="p-3 bg-gray-50 rounded-lg border border-gray-200">
                                <label class="block text-gray-700 font-semibold mb-2 flex items-center gap-2">
                                    <i class="bi bi-fullscreen text-orange-500 text-xl"></i>
                                    Area (m²)
                                </label>
                                <div class="flex gap-2">
                                    <input type="number" placeholder="Min ölçü"
                                        class="w-1/2 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none" />
                                    <input type="number" placeholder="Max ölçü"
                                        class="w-1/2 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none" />
                                </div>
                            </div>

                            <div class="flex flex-col gap-2 md:flex-row md:items-end p-4 w-full">
                                <div x-data="filterModal()" @keyup.escape.window="open = false">
                                    <button @click="open = true"
                                        class=" w-full flex items-center gap-1px-4 px-4 py-2 border border-gray-300 rounded-lg text-gray-700 hover:bg-gray-100 md:w-auto hover:text-[color:var(--primary)] transition">
                                        + More Options
                                    </button>
                                    {{>Component.FilterModal}}


                                </div>
                                <button
                                    class="px-10 py-2 bg-black text-white rounded-lg hover:bg-gray-800 w-full md:w-auto">
                                    Search
                                </button>
                            </div>
                        </div>

                    </section>

                    <div class="flex flex-col lg:flex-row justify-between gap-4 mb-5">
                        <h2 class="text-2xl lg:text-4xl font-bold text-[color:var(--text-color)]">
                            Property listing
                        </h2>

                        <div class="flex flex-wrap items-center gap-2">

                            <button id="gridViewBtn" class="px-4 grid-btn py-3 rounded-md active-filter"
                                data-view="grid">
                                <i class="bi bi-grid-3x3-gap"></i>
                            </button>

                            <button id="listViewBtn"
                                class=" px-4 py-3 list border border-[var(--border-color)] rounded-md" data-view="list">
                                <i class="fas fa-list text-[color:var(--icon-grey)] "></i>
                            </button>


                            <div class="relative">
                                <button
                                    class="flex items-center border border-[var(--border-color)] px-4 py-3 rounded-md">
                                    Sort by (Default) <i class="fas fa-chevron-down ml-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <h2 class="text-xl text-gray-700 ">
                        <span class="text-red-500">Premium</span> elanlar ilə tanış ol!
                    </h2>
                    <div id="premiumCard"
                        class="pt-8 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-7 relative min-h-[300px]">
                    </div>
                    <div class="absolute inset-28 flex justify-center items-center z-20" id="premiumLoadingOverlay">
                        <div class="flex flex-col items-center gap-3">
                            <div class="loader"></div>
                        </div>
                    </div>


                    <hr class="text-gray-300 mt-7">
                    <h2 class="text-xl text-gray-700 mt-6 ">
                        Bütün elanlar
                    </h2>

                    <div id="propertyContainer"
                        class="pt-8 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-7 relative min-h-[300px]">
                    </div>
                    <div class="absolute inset-28 flex justify-center items-center z-20"
                        id="allPropertiesLoadingOverlay">
                        <div class="flex flex-col items-center gap-3">
                            <div class="loader"></div>
                        </div>
                    </div>


                    <div class="result">
                        <div class="text">
                            Showing 1-9 of 12 results.
                        </div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination mb-0">
                                <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><i
                                            class="bi bi-chevron-left"></i></a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active" aria-current="page"><a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">20</a></li>
                                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><i
                                            class="bi bi-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
            </section>
        </main>
        {{#if setting.ads}}
        <aside class="hidden xl:block w-[160px] mt-8">
            <div class="sticky top-24">
                <img src="https://placehold.co/200x1300" alt="Sağ Reklam" class="rounded-lg shadow w-full" />
            </div>
        </aside>
        {{/if}}
    </div>
</div>