{{>Component.Breadcrumb items=breadcrumbs}}

{{>Component.ScrollTop}}
<main>
    <section id="side ">
        <div class="container mx-auto px-3">
            <div class="side">
                <div class="left-side">
                    <div class="header">
                        <h2>{{ blog.name}}</h2>

                        <div class="blog-short-info">
                            <div class="author">
                                <i class="bi bi-person"></i> {{ blog.author}}
                            </div>

                            <div class="category">
                                <i class="bi bi-tags"></i> {{ blog.category.name }}
                            </div>

                            <div class="comments">
                                <i class="bi bi-chat-dots"></i> 0
                            </div>

                            <div class="date">
                                <i class="bi bi-clock-history"></i> {{ blog.date}}
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <p>
                            {{ blog.description }}
                        </p>
                        <img src="{{ blog.images.[0] }}" alt="">
                    </div>
                    <div class="understanding-stock">
                        <h3>{{t " Understanding Housing Stocks"}}</h3>
                        <p>{{t "Housing stocks encompass companies involved in various aspects of the real estate industry,
                            including homebuilders, developers, and related service providers. Factors influencing these
                            stocks range from interest rates and economic indicators to trends in homeownership
                            rates."}}</p>

                        <p>{{t "Pay close attention to economic indicators such as employment rates, GDP growth, and consumer
                            confidence. A strong economy often correlates with increased demand for housing, benefiting
                            related stocks."}}</p>
                    </div>
                    <div class="detail-box">
                        <p class="quote">{{t "“Lower rates can boost homebuying activity, benefiting housing stocks, while
                            higher rates may have the opposite effect.”"}}</p>
                        <p class="author">{{t "said Mike Fratantoni, MBA’s chief economist."}}</p>
                    </div>
                    <div class="images-additional">
                        <figure>
                            <img src="{{ blog.images.[0] }}" alt="">
                        </figure>
                        <figure>
                            <img src="{{ blog.images.[0] }}" alt="">
                        </figure>

                    </div>
                    <div class="understanding-stock">
                        <h3>{{t "Identify Emerging Trends"}}</h3>
                        <p>{{t "Housing stocks encompass companies involved in various aspects of the real estate industry,
                            including homebuilders, developers, and related service providers. Factors influencing these
                            stocks range from interest rates and economic indicators to trends in homeownership
                            rates."}}</p>

                        <p>{{t "Pay close attention to economic indicators such as employment rates, GDP growth, and consumer
                            confidence. A strong economy often correlates with increased demand for housing, benefiting
                            related stocks."}}</p>
                    </div>

                    <div class="sosial">
                        <div class="tags">
                            <span>{{t "Tags:"}}</span>
                            <a href="#">{{t "Personal"}}</a>
                            <a href="#">{{t "Business"}}</a>
                        </div>
                        <div class="share">
                            <span>{{t "Share this post:"}}</span>
                            <div class="share-icons">
                                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                <a href="#"><i class="bi bi-twitter-x"></i></a>
                                <a href="#"><i class="bi bi-linkedin"></i></a>
                                <a href="#"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                    </div>


                    <x-reviews
                            title="Comments"
                            formTitle="Leave A Comment"/>
                </div>
                <div class="right-side">
                    <div class="blog-sidebar">
                        <div class="search-box">
                            <h3>{{t "Search Blog"}}</h3>
                            <div class="input-group">
                                <i class="bi bi-search"></i>
                                <input type="text" placeholder="Search"/>
                            </div>
                        </div>

                        <div class="categories">
                            <h3>{{t "Categories"}}</h3>
                            <ul>
                                <li><a href="#">{{t "Market Updates"}} <span>(50)</span></a></li>
                                <li><a href="#">{{t "Buying Tips"}} <span>(69)</span></a></li>
                                <li><a href="#">{{t "Interior Inspiration "}}<span>(69)</span></a></li>
                                <li><a href="#">{{t "Investment Insights"}} <span>(25)</span></a></li>
                                <li><a href="#">{{t "Home Construction "}}<span>(12)</span></a></li>
                                <li><a href="#">{{t "Legal Guidance"}} <span>(12)</span></a></li>
                                <li><a href="#">{{t "Community Spotlight "}}<span>(69)</span></a></li>
                            </ul>
                        </div>
                        <x-feature--listings/>

                        <section class="newsletter-section">
                            <h2 class="newsletter-title">{{t "Join Our Newsletter"}}</h2>
                            <p class="newsletter-description">
                               {{t " Signup to be the first to hear about exclusive deals, special offers"}}<br>
                                {{t "and upcoming collections"}}
                            </p>
                            <div class="newsletter-input-wrapper">
                                <input type="text" class="newsletter-input" placeholder="Search"/>
                                <button class="newsletter-button">
                                    <i class="bi bi-send"></i>
                                </button>
                            </div>
                        </section>

                        <section class="tags-section">
                            <h2 class="tags-title">{{t "Popular Tags"}}</h2>
                            <div class="tags-wrapper">
                                <span class="tag">{{t "Property"}}</span>
                                <span class="tag">{{t "Office"}}</span>
                                <span class="tag">{{t "Finance"}}</span>
                                <span class="tag">{{t "Legal"}}</span>
                                <span class="tag">{{t "Market"}}</span>
                                <span class="tag">{{t "Invest"}}</span>
                                <span class="tag">{{t "Renovate"}}</span>
                            </div>
                        </section>

                        <x-connect-agent/>

                    </div>


                </div>

            </div>
        </div>

    </section>

    <section id="relatied-posts">
        <div class="container mx-auto px-3">
            <div class="relation-posts">
                <h3>{{t "Related posts"}}</h3>

                <div class="blog-cards">

                    {{#each relatedPosts}}

                        <div class="blog-card">
                            <div class="blog-card-image">
                                <img src="{{ this.images.[0] }}" alt="blog-card-image">
                                <span>{{ this.category}}</span>
                            </div>
                            <div class="blog-card-info">
                                <div class="blog-time">
                                    <i class="bi bi-clock-history"></i>
                                    <p>{{ this.date }}</p>
                                </div>
                                <div class="blog-title">
                                    <h3>{{strLimit this.name 50}}</h3>
                                </div>
                                <a href="/blog/{{this.slug}}" class="blog-button">
                                    {{t "Read More "}}<i class="bi bi-arrow-right-circle"></i>
                                </a>
                            </div>
                        </div>
                    {{/each}}

                </div>

            </div>
        </div>

    </section>

</main>